body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-image: url("/fondo-1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  margin-bottom: 1em;

  .btn__guie {
    cursor: pointer;
    color: rgb(155, 23, 155);
    border: 2px solid rgb(155, 23, 155);
    border-radius: 0.7em;
    background-color: rgb(212, 171, 212);
    font-size: 1rem;
    padding: 0.2rem;
    font-weight: bold;
    width: 80px;
    height: 30px;

    &:hover {
      filter: brightness(1.1);
      transform: scale(1.1);
    }
  }

  .btn__mid {
    cursor: pointer;
    color: rgb(155, 23, 155);
    border: 2px solid rgb(155, 23, 155);
    border-radius: 0.7em;
    background-color: rgb(212, 171, 212);
    font-size: 1rem;
    padding: 0.2rem;
    font-weight: bold;
    width: 30px;
    height: 30px;

    &:hover {
      filter: brightness(1.1);
    }
  }

  .active {
    background-color: rgb(240, 83, 240);
    color: rgb(121, 16, 121);
  }
}

.active {
  padding: 0.1em 1em;
  border-radius: 0.7em;
  background-color: rgb(128, 41, 128);
}

.container__page-total {
  padding-bottom: 0.5em;
}