@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: "Aleo", serif;
}

body {
  margin: 0;
  background: linear-gradient(90.21deg, rgba(54, 71, 170, 0.781) -5.91%, rgba(137, 47, 189, 0.842) 111.58%);
}

h1, h2, h3, h4, p, ul, hr {
  margin-top: 0;
  margin-bottom: 0;
}


ul, li {
  list-style: none;
  padding-left: 0;
}

img {
  display: block;
}

input, button, select {
  font-family: inherit;
}

label {
  display: block;
}

button {
  padding: 0;
}